:root {
  /*--COLOR--*/
  --color-primary: #3cb371;

  --color-grey-dark: #dad7d7;
  --color-grey-light: #f8f8f8;

  --color-white: #fff;
  --color-black: #252525;

  /*--FONT--*/
  --default-font-size: 1.6rem;

  /* --shadow-dark: 0 2rem 5rem rgba(0, 0, 0, 0.3); */
  --line: 1px solid var(--color-grey-dark);
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10px, 10px/16px = 62.5%*/
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: var(--color-black);
  /* overflow: hidden; */
}

a {
  text-decoration: none;
  color: var(--color-black);
}

.container {
  max-width: 100rem;
  height: 100vh;
  margin: 0 auto;
}

.main-content {
  background-color: red;
}

.btn {
  text-transform: uppercase;
  margin: 3.5rem auto;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.29);
  cursor: pointer;
  background: var(--color-white);
  font-size: var(--default-font-size);
  width: 25rem;
  position: relative;
}

.btn:hover {
  border-color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 1rem;
  text-decoration: none;
}

.avatar {
  width: 7rem;
  height: 7rem;
  border-radius: 4rem;
  background-color: red;
}

.question {
  width: 90%;
  margin: 0 auto;
  border: var(--line);
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
}

.question-header {
  border-bottom: var(--line);
  padding: 1rem;
  background-color: var(--color-grey-light);
}

.question-title {
  font-size: var(--default-font-size);
}

.question-content {
  padding: 1rem;
  display: flex;
  align-items: center;
}

.question-author {
  padding: 0 2rem;
}

.question-info {
  flex: 1;
  padding: 0 1rem;
  border-left: var(--line);
}

.question-info > *:not(:last-child) {
  margin-bottom: 1rem;
}
