:root {
  /*--COLOR--*/
  --color-primary: #3cb371;
  --color-secondary: #e1f8eb;

  --color-green-dark: #0c6434;

  --color-grey-dark: #dad7d7;
  --color-grey-light: #f8f8f8;

  --color-white: #fff;
  --color-black: #252525;
  --color-black-2: #4d4b4b;
  --color-orange: #f45524;
  --color-yellow: #c59c15;

  /*--FONT--*/
  --default-font-size: 1.6rem;

  /* --shadow-dark: 0 2rem 5rem rgba(0, 0, 0, 0.3); */
  --line: 1px solid var(--color-grey-dark);
  --line-medium: 2px solid var(--color-grey-dark);
  --line-medium-green: 2px solid var(--color-primary);
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10px, 10px/16px = 62.5%*/
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: var(--color-black);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

li {
  list-style-type: none;
  text-decoration: none;
}

.container {
  max-width: 100vw;
  height: calc(100vh - 6rem);
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
  overflow: auto;
}

.header {
  height: 6rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: var(--line-medium-green);
  box-sizing: border-box;
}

.header-content {
  width: 90rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
}

.header-user {
  display: flex;
  padding: 0 1rem;
  align-items: center;
}

.header-user-info {
  display: flex;
  align-items: center;
}

.header-user-info > * {
  margin-right: 1rem;
}

.logo {
  height: 5rem;
}

.nav {
  margin: 0 1rem;
}

.nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav a {
  display: block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  text-align: center;
}

.nav a:hover,
.nav a:active,
.active {
  clip-path: polygon(10% 0, 90% 0, 100% 100%, 0 100%);
  color: var(--color-white);
  background-color: var(--color-primary);
}

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 4rem;
  display: inline-block;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  border: none;
  cursor: pointer;
  position: relative;
  transition: all 0.2s;
}

.btn:disabled {
  cursor: not-allowed;
}

.btn:hover {
  opacity: 0.8;
}

.btn:hover::after {
  opacity: 0;
}

.btn:active,
.btn:focus {
  outline: none;
  font-weight: 700;
}

.btn-green {
  background-color: var(--color-primary);
  color: var(--color-white);
  font-weight: 700;
}

.btn-submit {
  width: 100%;
  display: block;
  margin-top: 1rem;
}

.btn-view-poll {
  width: 100%;
  border: 1px solid var(--color-primary);
  background-color: var(--color-white);
  text-transform: capitalize;
  color: var(--color-primary);
}

.btn-view-poll:hover {
  font-weight: 700;
  color: var(--color-green-dark);
}

.center {
  text-align: center;
}

.line-horizontal {
  margin: 1rem 0;
  border: var(--line);
}

.avatar {
  background-color: var(--color-white);
}

.avatar-name {
  background-color: var(--color-orange);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

.header-user-avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  font-size: 2rem;
}

.question-user-avatar {
  width: 7rem;
  height: 7rem;
  border-radius: 3.5rem;
  font-size: 3rem;
  margin-right: 1rem;
}

.leaderboard-user-avatar {
  width: 9rem;
  height: 9rem;
  border-radius: 4.5rem;
  font-size: 3.5rem;
}

.text-avatar {
  color: var(--color-white);
}

.text-small {
  font-size: 1rem;
}

.text-between-line {
  margin: 0 1rem;
}

.default-color {
  color: var(--color-black);
}

.dashboard-list li {
  margin-top: 1rem;
  padding: 0 1rem;
}

.question {
  width: 100%;
  border: var(--line-medium);
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  box-sizing: border-box;
  background-color: var(--color-white);
}

.question-header,
.auth-header {
  border-bottom: var(--line-medium);
  padding: 1rem;
  background-color: var(--color-grey-light);
}

.question-title {
  font-size: var(--default-font-size);
}

.question-title-author {
  text-transform: capitalize;
}

.question-content {
  padding: 1rem;
  display: flex;
  align-items: center;
}

.question-info {
  flex: 1;
  padding-left: 1rem;
  border-left: var(--line-medium);
}

.question-info > *:not(:last-child),
.question-option > *:not(:last-child) {
  margin-bottom: 1rem;
}

.question-option {
  padding: 1rem 2.3rem;
  font-size: var(--default-font-size);
  border: var(--line);
  border-radius: 0.4rem;
  background-color: var(--color-grey-light);
}

.option-result {
  width: max-content;
  margin: 0 auto;
  font-size: 3rem;
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
}

.option-voted {
  border: 1px solid var(--color-primary);
  background-color: var(--color-secondary);
}

.option-result-percent {
  font-size: 2rem;
}

.badge {
  width: 100%;
  position: relative;
}

.badge-text {
  width: 4rem;
  height: 4rem;
  border-radius: 2.1rem;
  padding: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: -1rem;
  right: -2rem;
  background-color: var(--color-yellow);
  color: var(--color-white);
  font-weight: 700;
}

.leaderboard-list,
.question-new,
.auth,
.question-page {
  width: 50rem;
  margin: 0 auto;
}

.leaderboard-list > *:not(:last-child) {
  margin-bottom: 1rem;
}

.leaderboard {
  width: 100%;
  display: flex;
  border: var(--line-medium);
  padding: 1rem;
  border-radius: 0.4rem;
  box-sizing: border-box;
  background-color: var(--color-white);
}

.leaderboard-avatar,
.leaderboard-score {
  width: 9rem;
  box-sizing: border-box;
}

.leaderboard-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.leaderboard-actions {
  flex-grow: 1;
  border-left: var(--line-medium);
  border-right: var(--line-medium);
  padding: 0 1rem;
}

.leaderboard-user {
  margin-bottom: 2rem;
  font-size: var(--default-font-size);
}

.leaderboard-result {
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
}

.leaderboard-score {
  margin-left: 1rem;
  border: var(--line-medium);
  display: flex;
  flex-direction: column;
  border-radius: 0.4rem;
}

.leaderboard-score-label {
  background-color: var(--color-grey-light);
  border-bottom: var(--line-medium);
}

.score-label {
  font-size: 1.4rem;
  padding: 1rem;
  color: black;
}

.leaderboard-score-total {
  flex: 1;
  display: flex;
}

.score-total {
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  align-self: center;
  margin: 0 auto;
  text-align: center;
  line-height: 4rem;
  font-size: 2rem;
  color: var(--color-white);

  background-color: var(--color-primary);
}

.question-new,
.auth,
.question-page {
  box-sizing: border-box;
}

/* .question-page {
  width: 50rem;
  margin: 0 auto;
  box-sizing: border-box;
} */

.question-new-content {
  padding: 1rem;
}

.question-new-form-title {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.form-input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.2rem 1.5rem;
  background-color: var(--color-white);
  border: var(--line);
  border-radius: 0.4rem;
  width: 100%;
  display: block;
  transition: all 0.3s;
  box-sizing: border-box;
}

.form-input:focus {
  outline: none;
  border: 1px solid var(--color-primary);
}

.form-line-divider {
  display: flex;
  align-items: center;
}

.form-line-horizontal {
  flex: 1;
}

.form-radio-group {
  display: flex;
  flex-direction: column;
}

.form-radio-group > *:not(:last-child) {
  margin-bottom: 1rem;
}

.form-radio-group label {
  display: flex;
  align-items: center;
}

.form-radio-group input {
  margin-right: 1rem;
}

.auth form {
  padding: 2rem;
}

.auth-title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.auth-logo {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
}

.auth-logo img {
  height: 12rem;
}

.auth-form-title {
  font-size: 2.5rem;
  color: var(--color-black-2);
}
